@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200;300;400&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;   
}
.section{
    width: 100%;
    min-height: 90vh;
    background-color: #dddddd;
}
.container{
    width: 70%;
    display: block;
    margin: auto;
    padding-top: 50px;
}
.content-section{
    float: left;
    width: 50%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 50%;
    height: auto;
}
.content-section .title{
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
}
.content-section .content h3{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 150px;
}
.content-section .content p{
    margin-top: 200px;
    font-family: sans-serif;
    font-size: 100px;
    line-height: 1.5;
}
.content-section .content .button{
    margin-top: 30px;
}
.content-section .content .button a{
    background-color: #3d3d3d;
    padding: 100px 70px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    letter-spacing: 50.5px;
}
.content-section .content .button a:hover{
        background-color: #a52a2a;
        color: #fff;
}
.content-section .social{
    margin:30px 30px;
}
.content-section .social i{
    color: #a52a2a;
    font-size: 30px;
    padding: 10px 10px;
}
.content-section .social i:hover{
    color: #3d3d3d;
}
@media screen and (max-width:800px)
{
   .container{
    width: 100%;
    display: block;
    margin: auto;
    padding-top: 100px;
   }    
}
.content-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
}
.image-section{
    float: none;
    width: 100%;
}
.image-section img{
    width: 100%;
   height: auto;
   display: block;
    margin: auto; 
}
.content-section .title{
    text-align: center;
    font-size: 21px;
}
.content-section .content .button{
   text-align: center;
}
.content-section .content .button a{
    padding: 10px 50px;
}
.content-section .social{
    text-align: center;
}
