*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("home.jpg");
    height: 100vh;
    -webkit-animation: alternate;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 14px;
}
.nav-area li a:hover{
    background: #fff;
    color:#333;
}
.logo img{
    width: 100px;
    float: left;
    height: auto;
}
.Wlecome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}
.Wlecome-text h1{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    font-size: 60px;
}
.Wlecome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}
.Wlecome-text a:hover{
    background: #fff;
    color: #333;
}

.admin-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.admin-btn a {
    color: white;
    background-color: #333;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.admin-btn a:hover {
    background-color: #fff;
    color: #333;
}
